
html, body {margin: 0; padding: 0;}

body * {
 	//outline: solid 1px lime;
	font-family: 'Audiowide', cursive;
}
body {
	background-image:linear-gradient(to left, #008080, #08C);
	background-color: #008080;
	color:#202012;
}

a {
	color:#8B0000;
}

#arrow {
	margin: auto auto;
	width:250px;
	height:250px;
	display: none;
	//transition: transform .5s ease-in;
	//-moz-transition: -moz-transform .5s ease-in;
	//-o-transition: -o-transform .5s ease-in;
	//-webkit-transition: -webkit-transform .5s ease-in;
}

#info {
	top:0;
	left:5px;
	position:absolute;
	color:#8B0000;
	font-size: 10px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#distance {
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	display:none;
    //-webkit-animation-name:             rotate; 
    //-webkit-animation-duration:         1s; 
    //-webkit-animation-iteration-count:  infinite;
    //-webkit-transition-timing-function: linear;
}

p {
	margin-top: 30px;
	font-size:20px;
}

span {
	margin-top: 30px;
	font-size:20px;
}

.block.url {
	background-color:#F0FFF0;
	width:200px;
	border: 2px solid #202012;
	font-size: 8px;
	margin:20px 10px;
	padding: 20px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#bg_arrow {
	margin-top:10%;
	height:300px;
	overflow:hidden;
}

#fbshare{
	position:absolute;
	bottom:5px;
	left:5px;
}

#sms {
	font-size: 10px;
}

#statut {
	height:18px;
	margin: auto auto; 
	top:-5px;
	left:0;
	position:absolute;
}

#wait {
	margin-top:10%;
}
